*{
    box-sizing: border-box;
    font-family: 'Signika Negative', sans-serif;
    color: white;
}
h1{
    font-size: 2rem;
    font-weight: bold;
}
h2{
    font-size: 1.1rem;
}
.contenido-register{
    width: calc(60%);
    max-width: 1000px;
    max-height: 1000px;
    height: 90vh;
    background-color: #212121;
    overflow: auto;
}
button{
    background-color: transparent; 
    border: 1px solid #676767;
    color: white;
    height: 40px;
    &:hover{
        background-color: #2d2d2d;
    }
}
.logo-first{
    width: 8rem;
    height: auto;
    background-color: #000;
}
.form-register{
    width: 90%;
}