<div class="w-full bg-black text-white flex items-center justify-around px-2 py-1" style="height: 80px;">
    <div class="w-32 h-14 overflow-hidden flex">
        <img src="./img/logo-isolina.png" alt="" class="w-full object-contain">
    </div>
    <div class="flex items-center justify-center">
        <a href="" class="font-medium px-4">CORREO &nbsp;<tui-svg src="tuiIconMail"></tui-svg></a><span class="line"></span>
        <a href="" class="font-medium px-4">FACEBOOK &nbsp;<tui-svg src="tuiIconFacebook"></tui-svg></a><span class="line"></span>
        <a href="" class="font-medium px-4">WHATSAPP &nbsp;<tui-svg src="tuiIconTablet"></tui-svg></a>
    </div>
    <div class="flex items-center justify-center h-20">
        <div class="contact-number flex items-center justify-center h-10 w-36">
            <p class="flex items-center justify-center"><b>931 975 770 &nbsp;</b><i class="fi fi-rr-phone-call flex items-center"></i></p>
        </div>
        <span class="">|</span>
        <div class="px-4">
            <img src="./img/logo-isolina.png" alt="" class="w-10">
        </div>
        <div class="name-user font-medium">{{ name }}</div>
    </div>
</div>