<div class="content-g bg-black text-white w-full">
    <div class="block items-center justify-start w-full h-10 pt-5 font-medium">
        <div class="item-menu" routerLink='/app/dashboard' routerLinkActive="active">
            <p class="flex items-center justify-start"><tui-svg src="tuiIconGrid"></tui-svg>&nbsp; DASHBOARD</p>
        </div>
        <div class="item-menu" routerLink='/app/sedes' routerLinkActive="active">
            <p class="flex items-center justify-start"><tui-svg src="tuiIconMapPin"></tui-svg>&nbsp; SEDES</p>
        </div>
        <div class="item-menu" routerLink='/app/zonas' routerLinkActive="active">
            <p class="flex items-center justify-start"><tui-svg src="tuiIconMap"></tui-svg>&nbsp; ZONAS</p>
        </div>
        <div class="item-menu" routerLink='/app/mesas' routerLinkActive="active">
            <p class="flex items-center justify-start"><tui-svg src="tuiIconSquare"></tui-svg>&nbsp; MESAS</p>
        </div>
    </div>
</div>
<!-- <router-outlet></router-outlet> -->